* {
    font-family: 'Zen Kurenaido', sans-serif;
}
header, h2, h3 {
    display: flex;
    flex: 1;
    justify-content: center;
}
.selected {
    border: solid 5px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    margin: 10px;
}
.playArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
button{
    background-color: white;
    border: black solid 3px;
    border-radius: 5px;
    margin: 3px;
}
button:hover{
    cursor: pointer;
}
.choices {
    display: flex;
    justify-content: center;

}
.results {
    display: flex;
    justify-content: space-evenly;
}
#playerChoice, #computerChoice{
    justify-content: center;
    align-items: center;
    display: flex;
}